<% @question.answers.where(question_id: @question.id).each do |answer| %>
  <% @answer = answer %>
  <div class="row align-items-baseline justify-content-between px-3 mb-3">
    <span class="badge badge-secondary"><%= User.find(answer.user_id).username %></span>
    <small><%= time_ago_in_words(answer.created_at) %> ago</small>
  </div>
  <div class="border-left pl-3 mb-3">
    <p><%= answer.body %>
      <% answer.corrections.where(allowence: true).each do |accept_correction| %>
        <span id="acceptCorrection<%=accept_correction.id %>" class="accept-correction"><%= accept_correction.body %></span>
      <% end %>
    </p>
    <!--    Corrections-->
    <div class="">
      <div id="correction<%= answer.id %>" class="border-left">
        <%= render 'corrections/corrections' %>
      </div>

      <% if answer.user_id != current_user.id %>
        <button class="btn btn-sm btn-warning text-white mb-3 collapsed"
                type="button" data-toggle="collapse"
                data-target="#collapseCor<%= answer.id %>"
                aria-expanded="false" aria-controls="collapseExample">
          Make Correction<i class="arrow"></i>
        </button>
      <% end %>

      <div class="collapse" id="collapseCor<%= answer.id %>">
        <%= render 'corrections/form' %>
      </div>
    </div>
  </div>
<% end %>
